/*Dark Mode change CSS*/

/* body {
    background-color: #f5f7fa;
} */

body.dark-theme {
    background-image: url('background-dark.png');
    
    --modal-background-header-body: #2A2A2A;
    --modal-image-id-background: url(qr-code-dark.png);
    --modal-title-id-color: #B0FDA3;

    --mainbody-color: #B0FDA3;

    --btn-background: #2A2A2A;
    --btn-color: #B0FDA3;

    --btn-hover-background: #B0FDA3;
    --btn-hover-color: #2A2A2A;

    --btn-after-header-after: #2A2A2A;

    --fa-qrcode-color: #2A2A2A;
    --fa-qrcode-hover-color: #B0FDA3;

    --footer-link-color: #B0FDA3;

    --spinner-background-color: #54A484;
    --spinner-loader-border-background-color: #B0FDA3;

    --toggle-background-color: #253d21; /**need to make dark**/
    --toggle-border-color: #4b7a42;
}
