/*Toggle Dark Mode CSS*/

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 50px;
    height: 25px;
}

.toggle label::after {
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 17px;
    height: 17px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #B0FDA3;
    border-color: #71a369;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #426b3b;
    transform: translateX(25px);
}

/* body {
    background-color: #f5f7fa;
} */

body.dark-theme {
    background-image: url('background-dark.png');
    
    --modal-background-header-body: #2A2A2A;
    --modal-image-id-background: url(qr-code-dark.png);
    --modal-title-id-color: #B0FDA3;

    --mainbody-color: #B0FDA3;

    --btn-background: #2A2A2A;
    --btn-color: #B0FDA3;

    --btn-hover-background: #B0FDA3;
    --btn-hover-color: #2A2A2A;

    --btn-after-header-after: #2A2A2A;

    --fa-qrcode-color: #2A2A2A;
    --fa-qrcode-hover-color: #B0FDA3;

    --footer-link-color: #2A2A2A;

    --spinner-background-color: #54A484;
    --spinner-loader-border-background-color: #B0FDA3;
}
